# Placement candidates; visual exceptions: ../corrections.json
Image	portrait-Defender.mesh.png
Slot	build	0	820	887	954
Slot	hair	250	110	450	790
Slot	ears	590	475	120	160
Slot	eyes	322	435	255	140
Slot	nose	347	522	175	165
Slot	mouth	330	620	210	100
Slot	chin	290	675	300	180
Slot	scar	335	560	170	130
Slot	neck	270	780	380	210
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	hair	1	swept	hair-1-swept.png
Option	hair	2	waves	hair-2-waves.png
Option	ears	1	notched	ears-1-notched.png
Option	ears	2	rounder	ears-2-rounder.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	forked	chin-1-forked.png
Option	chin	2	braided	chin-2-braided.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
