# Neutral-base registration candidates; combined acceptance pending
Base	../../neutral-bases/Kobold.mesh-female.png
Slot	build	0	755	887	1019
Slot	outfit	0	0	887	1774
Slot	hair	90	120	650	760
Slot	ears	100	330	240	270
Slot	eyes	265	430	335	145
Slot	nose	420	495	155	170
Slot	mouth	330	625	280	105
Slot	chin	330	680	280	105
Slot	scar	230	525	200	150
Slot	neck	270	740	340	250
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	hair	1	swept	hair-1-swept.png
Option	hair	2	waves	hair-2-waves.png
Option	ears	1	notched	ears-1-notched.png
Option	ears	2	rounder	ears-2-rounder.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
Option	outfit	1	patched	outfit-1-patched-build0.png
