# Placement candidates; visual exceptions: ../corrections.json
Image	portrait-DarkElf.mesh-male.png
Slot	build	0	940	887	834
Slot	hair	180	120	610	920
Slot	ears	130	365	250	310
Slot	eyes	342	495	285	140
Slot	nose	422	562	155	175
Slot	mouth	390	692	220	85
Slot	chin	335	745	290	150
Slot	scar	305	600	160	130
Slot	neck	270	820	400	230
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	hair	1	swept	hair-1-swept.png
Option	hair	2	waves	hair-2-waves.png
Option	ears	1	notched	ears-1-notched.png
Option	ears	2	rounder	ears-2-rounder.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
