# Placement candidates; visual exceptions: ../corrections.json
Image	portrait-Gnome.mesh-female.png
Slot	build	0	930	887	844
Slot	hair	120	600	650	900
Slot	eyes	322	492	315	155
Slot	nose	420	580	160	120
Slot	mouth	335	670	290	110
Slot	chin	325	725	290	150
Slot	scar	285	625	170	130
Slot	neck	295	765	310	190
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	hair	1	swept	hair-1-swept.png
Option	hair	2	waves	hair-2-waves.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
