# More cosmetic effects of the spells, client side only (see roomAmbienceSpells.cfg for the idea):
# bolts and flying charges (Kind Beam and Projectile), the own healing, haste, defense and slow looks,
# the ends of the defector, hen and possession spells and the impact sounds of the spells. The cast sounds
# come with the server message (own family per spell), the impact sounds are played from here.
# Beam: Mesh is stretched from From (relative to the target) to the target, Amount = width, Speed = flickers
# per second. Projectile: Mesh and/or System (trail) fly from From to the target on an arc of height Amount;
# Land = event raised when it arrives.

[RoomAmbience]
    [Effects]

        ##### Bolts and flying charges #####

        [Effect]
            Name        SpellBoltBeam
            Target      Event
            Event       SpellFxLightning
            Kind        Beam
            Mesh        SpellBolt
            From        1.6 -1.0 9
            Offset      0 0 0.2
            Amount      1.0
            Speed       24
            Duration    0.4
            MaxDistance 40
            Priority    8
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellBoltBeamFork
            Target      Event
            Event       SpellFxLightning
            Kind        Beam
            Mesh        SpellBolt
            From        -1.2 0.9 8
            Offset      0.15 0 0.2
            Amount      0.55
            Speed       30
            Duration    0.32
            MaxDistance 40
            Priority    7
        [/Effect]

        [Effect]
            Name        SpellBlastShot
            Target      Event
            Event       SpellFxExplosion
            Kind        Projectile
            System      SpFxShotTrail
            From        -5 -5 9
            Offset      0 0 0.5
            Amount      1.5
            Land        SpellFxExplosionLand
            Duration    0.4
            MaxDistance 40
            Priority    7
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellFireShot
            Target      Event
            Event       SpellFxInferno
            Kind        Projectile
            System      SpFxFlameTrail
            From        4 -4 10
            Offset      0 0 0.6
            Amount      1.0
            Land        SpellFxInfernoLand
            Duration    0.5
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellBlastLandDust
            Target      Event
            Event       SpellFxExplosionLand
            Kind        Particle
            System      SpFxLandDust
            Offset      0 0 0
            Duration    1.2
            MaxDistance 40
            Priority    4
        [/Effect]

        [Effect]
            Name        SpellFireLandHit
            Target      Event
            Event       SpellFxInfernoLand
            Kind        Particle
            System      SpFxFireHit
            Offset      0 0 0
            Duration    1.0
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        ##### Healing #####

        [Effect]
            Name        SpellHealMark
            Target      Event
            Event       SpellFxHeal
            Kind        Particle
            System      SpFxHealMark
            Offset      0 0 0
            Duration    0.7
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHealRing
            Target      Event
            Event       SpellFxHeal
            Kind        Particle
            System      SpFxHealRing
            Offset      0 0 0
            Duration    1.3
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHealColumn
            Target      Event
            Event       SpellFxHeal
            Kind        Particle
            System      SpFxHealColumn
            Offset      0 0 0
            Duration    1.2
            MaxDistance 40
            Priority    5
        [/Effect]

        [Effect]
            Name        SpellHealBurst
            Target      Event
            Event       SpellFxHeal
            Kind        Particle
            System      SpFxHealBurst
            Offset      0 0 0
            Duration    1.0
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        ##### Haste #####

        [Effect]
            Name        SpellHasteMark
            Target      Event
            Event       SpellFxHaste
            Kind        Particle
            System      SpFxHasteMark
            Offset      0 0 0
            Duration    0.6
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHasteRing
            Target      Event
            Event       SpellFxHaste
            Kind        Particle
            System      SpFxHasteRing
            Offset      0 0 0
            Duration    0.9
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHasteStreaks
            Target      Event
            Event       SpellFxHaste
            Kind        Particle
            System      SpFxHasteStreaks
            Offset      0 0 0
            Duration    0.7
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHasteBurst
            Target      Event
            Event       SpellFxHaste
            Kind        Particle
            System      SpFxHasteBurst
            Offset      0 0 0
            Duration    0.9
            MaxDistance 40
            Priority    4
        [/Effect]

        ##### Defense #####

        [Effect]
            Name        SpellDefenseMark
            Target      Event
            Event       SpellFxDefense
            Kind        Particle
            System      SpFxDefenseMark
            Offset      0 0 0
            Duration    0.7
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellDefenseRing
            Target      Event
            Event       SpellFxDefense
            Kind        Particle
            System      SpFxDefenseRing
            Offset      0 0 0
            Duration    1.3
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellDefenseDome
            Target      Event
            Event       SpellFxDefense
            Kind        Particle
            System      SpFxDefenseDome
            Offset      0 0 0
            Duration    1.2
            MaxDistance 40
            Priority    4
        [/Effect]

        ##### Slow #####

        [Effect]
            Name        SpellSlowMark
            Target      Event
            Event       SpellFxSlow
            Kind        Particle
            System      SpFxSlowMark
            Offset      0 0 0
            Duration    0.7
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellSlowRing
            Target      Event
            Event       SpellFxSlow
            Kind        Particle
            System      SpFxSlowRing
            Offset      0 0 0
            Duration    1.4
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellSlowDrops
            Target      Event
            Event       SpellFxSlow
            Kind        Particle
            System      SpFxSlowDrops
            Offset      0 0 0
            Duration    1.4
            MaxDistance 40
            Priority    4
        [/Effect]

        ##### Ends #####

        [Effect]
            Name        SpellTurnBackRing
            Target      Event
            Event       SpellFxDefectorEnd
            Kind        Particle
            System      SpFxTurnBackRing
            Offset      0 0 0
            Duration    1.4
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellTurnBackFlash
            Target      Event
            Event       SpellFxDefectorEnd
            Kind        Particle
            System      SpFxTurnBackFlash
            Offset      0 0 0
            Duration    0.8
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellTurnBackSwirl
            Target      Event
            Event       SpellFxDefectorEnd
            Kind        Particle
            System      SpFxTurnSwirl
            Offset      0 0 0
            Duration    1.6
            MaxDistance 40
            Priority    4
        [/Effect]

        [Effect]
            Name        SpellHenEndPuff
            Target      Event
            Event       SpellFxHenEnd
            Kind        Particle
            System      SpFxHenPuff
            Offset      0 0 0
            Duration    1.8
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHenEndFeathers
            Target      Event
            Event       SpellFxHenEnd
            Kind        Particle
            System      SpFxHenFeathers
            Offset      0 0 0
            Duration    3.0
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellHenEndFlash
            Target      Event
            Event       SpellFxHenEnd
            Kind        Particle
            System      SpFxHenFlash
            Offset      0 0 0
            Duration    0.8
            MaxDistance 40
            Priority    4
        [/Effect]

        [Effect]
            Name        SpellPossessLostFlash
            Target      Event
            Event       SpellFxPossessLost
            Kind        Particle
            System      SpFxPossessLostFlash
            Offset      0 0 0
            Duration    1.0
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellPossessLostSmoke
            Target      Event
            Event       SpellFxPossessLost
            Kind        Particle
            System      SpFxPossessLostSmoke
            Offset      0 0 0
            Duration    2.0
            MaxDistance 40
            Priority    5
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SpellPossessLostRing
            Target      Event
            Event       SpellFxPossessLost
            Kind        Particle
            System      SpFxPossessRing
            Offset      0 0 0
            Duration    1.6
            MaxDistance 40
            Priority    4
        [/Effect]

        ##### Impact and end sounds #####

        [Effect]
            Name        SoundLightningImpact
            Target      Event
            Event       SpellFxLightning
            Kind        Sound
            Family      Spells/LightningImpact
            Delay       0.12
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundExplosionImpact
            Target      Event
            Event       SpellFxExplosionLand
            Kind        Sound
            Family      Spells/ExplosionImpact
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundTremorImpact
            Target      Event
            Event       SpellFxTremor
            Kind        Sound
            Family      Spells/TremorImpact
            Delay       0.5
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundInfernoImpact
            Target      Event
            Event       SpellFxInfernoLand
            Kind        Sound
            Family      Spells/InfernoImpact
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundGoldImpact
            Target      Event
            Event       SpellFxGold
            Kind        Sound
            Family      Spells/GoldImpact
            Delay       0.35
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundHealImpact
            Target      Event
            Event       SpellFxHeal
            Kind        Sound
            Family      Spells/HealImpact
            Delay       0.4
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundHasteImpact
            Target      Event
            Event       SpellFxHaste
            Kind        Sound
            Family      Spells/HasteImpact
            Delay       0.25
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundPossessEnd
            Target      Event
            Event       SpellFxPossessEnd
            Kind        Sound
            Family      Spells/PossessEnd
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

        [Effect]
            Name        SoundPossessLost
            Target      Event
            Event       SpellFxPossessLost
            Kind        Sound
            Family      Spells/PossessEnd
            MaxDistance 40
            Priority    6
            Reduced     yes
        [/Effect]

    [/Effects]
[/RoomAmbience]
