# Placement candidates; visual exceptions: ../corrections.json
Image	portrait-Troll.mesh.png
Slot	build	0	915	887	859
Slot	ears	180	415	250	240
Slot	eyes	287	550	325	120
Slot	nose	320	625	260	160
Slot	mouth	295	735	360	110
Slot	chin	300	795	350	170
Slot	scar	255	690	180	150
Slot	neck	240	965	430	230
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	ears	1	notched	ears-1-notched.png
Option	ears	2	rounder	ears-2-rounder.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
