# Placement candidates; visual exceptions: ../corrections.json
Image	portrait-Lizardman.mesh.png
Slot	build	0	890	887	884
Slot	eyes	345	410	280	180
Slot	nose	475	490	230	190
Slot	mouth	335	580	400	220
Slot	chin	335	725	360	150
Slot	scar	260	565	180	140
Slot	neck	270	885	420	250
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
