# Neutral-base registration candidates; combined acceptance pending
Base	../../neutral-bases/Wizard.mesh-female.png
Slot	build	0	910	887	864
Slot	outfit	0	0	887	1774
Slot	hair	220	420	430	820
Slot	ears	280	720	95	135
Slot	eyes	360	685	240	130
Slot	nose	455	765	125	145
Slot	mouth	390	865	200	95
Slot	chin	380	910	225	125
Slot	scar	350	765	130	130
Slot	neck	310	1000	320	250
Option	build	1	slim	build-1-slim.png
Option	build	2	sturdy	build-2-sturdy.png
Option	hair	1	swept	hair-1-swept.png
Option	hair	2	waves	hair-2-waves.png
Option	ears	1	notched	ears-1-notched.png
Option	ears	2	rounder	ears-2-rounder.png
Option	eyes	1	narrow	eyes-1-narrow.png
Option	eyes	2	round	eyes-2-round.png
Option	eyes	3	eyepatch	eyes-3-eyepatch.png
Option	nose	1	crooked	nose-1-crooked.png
Option	nose	2	broad	nose-2-broad.png
Option	mouth	1	teeth	mouth-1-teeth.png
Option	mouth	2	grin	mouth-2-grin.png
Option	mouth	3	cigar	mouth-3-cigar.png
Option	chin	1	square	chin-1-square.png
Option	chin	2	rounded	chin-2-rounded.png
Option	scar	1	diagonal	scar-1-diagonal.png
Option	scar	2	scratches	scar-2-scratches.png
Option	scar	3	warpaint	scar-3-warpaint.png
Option	neck	1	teeth	neck-1-teeth.png
Option	neck	2	torque	neck-2-torque.png
Option	outfit	1	robe	outfit-1-robe-build0.png
